[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cdp-data = "*"
langchain = "*"

[dev-packages]
black = "*"
ruff = "*"
click = "*"
jupyter = "*"

[requires]
python_version = "3.11"
