cdp-data~=0.0.10
click~=8.1.7
docx2txt~=0.8
huggingface-hub~=0.18.0
langchain~=0.0.305
openai~=0.28.1
pdf2image~=1.16.3
pdfplumber~=0.10.2
pillow~=10.0.1
pytesseract~=0.3.10
tiktoken~=0.5.1
transformers~=4.34.1
